#location{
    display: flex;
    justify-content: center;
}
.globe{
    color: black;
}
#call, #mail{
    font-size: large;
}
#logo{
    font-size: x-large;
}
.linkedin{
    color: #0072b1;
}
.twitter{
    color: #00acee;
}
.facebook{
    color: #3b5998;
}
